[Desktop Entry]
Name=CheckList
Comment=Advanced Todo and Task Management App
Exec=/opt/checklist/checklist
Icon=/opt/checklist/data/flutter_assets/assets/icons/icon-512.png
Terminal=false
Type=Application
Categories=Office;ProjectManagement;
StartupNotify=true
StartupWMClass=checklist
Keywords=todo;task;productivity;checklist;reminder;